version: ~> 1.0 # needed for imports

import: scala/scala-dev:travis/default.yml

language: scala

scala:
  - 2.13.1

env:
  - ADOPTOPENJDK=8  SCALAJS_VERSION=
  - ADOPTOPENJDK=8  SCALAJS_VERSION=1.2.0
  - ADOPTOPENJDK=11 SCALAJS_VERSION=

install:
  - git fetch --tags # get all tags for sbt-dynver

script: ./build.sh

notifications:
  email:
    - seth.tisue@lightbend.com
